.Footer{
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer-normal{
    height: 50px;
    justify-content: center;
}
.footer-fim{
    height: 150px;
}
.Footer p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.caixa-icones .icones-p{
    margin-right: 5px;
    font-size: 20px;
}

.caixa-icones .icone-Nao{
    color: #FF3030;
}
.caixa-icones .icone-Quase{
    color: #FF922E;
}
.caixa-icones .icone-Zap{
    color: #2FBE34;
}
/*Footer nos finais*/
.footer-fim .resultado-final{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.footer-fim .resultado-final img{
    width: 25px;
    height: 25px;

    margin-right: 10px;
}
.footer-fim .caixa-icones{
    margin-top: 2vh;
}
