.Main{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Flashcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;

    width: 282px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.Flashcard p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-size: 22px;
    margin-left: 5px;
}

.Flashcard .icone{
    margin-right: 5px;
    font-size: 22px;
}

.Flashcard-iniciado{
    width: 282px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 14px;
}

.Flashcard-iniciado p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 6px;
}
.caixa-setinha{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.Flashcard-iniciado img{
    width: 20px;
    height: 13px;

    margin-bottom: 10px;
    margin-right: 8px;
}
.Flashcard-virado{
    width: 282px;
    margin-top: 10px;
    margin-bottom: 10px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Flashcard-virado p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    margin-top: 6px;
    margin-left: 6px;
}
.Flashcard-virado button{
    width: 80px;
    height: 44px;
    border: none;
    border-radius: 5px;
}
.Flashcard-virado .caixa-botoes{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
/*botoes diferentes*/
.Flashcard-virado .botao-nao-lembrei{
    background-color: #FF3030;
    color: #FFFFFF;
}
.Flashcard-virado .botao-quase-lembrei{
    background-color: #FF922E;
    color: #FFFFFF;
}
.Flashcard-virado .botao-zap-lembrei{
    background-color: #2FBE34;
    color: #FFFFFF;
}
/*Classe apos selecionar a solucao*/
.Nao {
    color:#FF3030;
}
.Quase{
    color:#FF922E;
}
.Zap{
    color:#2FBE34;
}